In [ ]:
import pandas as pd
import numpy as np

In [ ]:
people = {
    'first': ['Rohnak', 'Jane', 'John', 'Chris', np.nan, None, 'NA'],
    'last': ['Agarwal', 'Doe', 'Doe', 'Cable', np.nan, np.nan, 'Missing'],
    'email': ['rrka79wal@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonmous@email.com', 'Missing'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}
df = pd.DataFrame(people)
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis='index', how='any') # axis = 'index' or 'column'

In [ ]:
df.dropna(axis='index', how='all')

In [ ]:
df.dropna(axis='columns', how='any')

In [ ]:
df.dropna(axis='columns', how='all')

In [ ]:
df.dropna(axis='index', how='any', subset=['email'])

In [ ]:
df.dropna(axis='index', how='all', subset=['last', 'email']) #drops rows where all in subset are missing
#will not drop rows if any of subset is not missing

In [ ]:
df = df.dropna(axis='index', how='all', subset=['last', 'email'])
# or
# df.dropna(axis='index', how='all', subset=['last', 'email'], inplace=True)

In [ ]:
df

In [ ]:
df = pd.DataFrame(people)

df.replace('NA', np.nan, inplace=True)
df.replace('Missing', np.nan, inplace=True)

df.dropna(how='all')

In [ ]:
df.isna()

In [ ]:
df.fillna('MISSING')

In [ ]:
df['age'].fillna(0)

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
# df['age'].mean()

In [ ]:
type(np.nan)

In [ ]:
df['age'] = df['age'].astype(float)

In [ ]:
df

In [ ]:
df['age'].mean()